{{/* Pre-setting some configuration (and finding out what's possible) */}}
{{/* Finding out which data is available by running: chezmoi data */}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $githubuser := promptStringOnce . "githubuser" "Github username" -}}
{{- $work := false -}}{{/* true for work computer */}}
{{- $hostname := .chezmoi.hostname -}}
{{/* To test if the sprig-function works as well */}}
{{/*- if eq $hostname "ksdc" -*/}}
{{- if contains "-NB-" $hostname -}}
{{-   $work = true -}}
{{- end -}}

data:
  email: {{ $email | quote }}
  githubuser: {{ $githubuser | quote }}
  work: {{ $work }}
  hostname: {{ $hostname }}

